body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    color: #333;
}

/* Start header */
.header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    display: inline-block;
    background-color: darkgrey;
    position: sticky;
}
.header_inner{
    display: flex;
}
.header_logo{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: floralwhite;
    margin-left: 50px;
    margin-right: 5px;
}

#nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shcart {
    width: 50px;
    margin-left: -30px;
    background-color: #ecd879;
    box-shadow: 0 0 0 3px #ecd879;
    border-radius: 7px;
}
#shcart:hover {
    box-shadow: 0 0 0 5px #ecb379;
}

#account a {
    color: gold;
}
/* End header*/


/* Start navigation */
/* задаем цвет фона для контейнера nav. */
nav {
    padding: 0.5em 30px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    background-color: darkgrey;
}
/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0 10px 0 0;
    display: inline-flex;
    background-color: darkgrey;
}

/* стилизуем ссылки */
nav a {
    font-size:20px;
    display:block;
    color: floralwhite;
    padding:0 10px;
    border-radius: 5px;
    line-height: 60px;
    text-decoration:none;
}

nav ul ul a {
    border: 1px solid #2d2424;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    color: #e1c194;
    background-color: #3f3e39;
}

nav ul ul a:hover {
    color: #e1c194;
    background-color: #3f3e39;
}

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inline-block;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:150px;
    float:none;
    display:list-item;
    position: relative;
}

/* второй, третий и последующие уровни
			 * смещаем 2 и 3 уровни влево
			 * на значение длины первого уровня.
			*/
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}

/* измените ' +' на любой другой символ, если нужно
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }*/

/* End navigation */

/* Start footer */
.footer {
    background-color: darkgrey;
    text-align: left;
}
address {
    display: flex;
    justify-content: center;
}
/* End footer */

/* Start content */
/*.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}*/
.main {
    padding: 1em;
    background: rgb(187, 179, 135);
    text-align: center;
}
.aside {
    padding: 1em;
    text-align: center;
    background: rgb(224, 220, 199);
}

@media (max-width: 30em) {
    .main {
        flex: 1 0 auto;
    }
}
@media (min-width: 30em) {
    .nav {
        display: block;
    }
    .wrapper {
        flex-direction: row;
    }
    .main {
        flex: 1 1 auto;
    }
    .aside {
        width: 20%;
    }
}
/* End content */