h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    color: black;
}

/* Start header */
.header{
    z-index: 999;
    width: 100%;
    min-height: 4em;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1px;
    padding-bottom: 1px;

    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    position: sticky;
    justify-content: center;
}
.header_inner {
    margin: 0 1em;
}
.header_inner a{
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
.header_logo{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: floralwhite;
    margin: 1%;
    /*margin-left: 50px;
    margin-right: 5px;*/
}

#PC_Logo_Header {
    width: 50px;
}

#nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#shcart {
    width: 50px;
    background-color: #ffd200;
    box-shadow: 0 0 0 3px #ecd879;
    border-radius: 7px;
}
#shcart:hover {
    box-shadow: 0 0 0 3px #ecb379;
    background-color: #e8c101;
}

#account a {
    color: gold;
}
/* End header*/


/* Start navigation */
/* задаем цвет фона для контейнера nav. */
#nav_menu nav {
    padding: 0.5em 30px;
    font-size: 5px;
    text-transform: uppercase;
    margin: 0;
    background-color: darkgrey;
}
/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
#nav_menu nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
#nav_menu nav ul li {
    margin: 0 10px 0 0;
    display: inline-flex;
    background-color: darkgrey;
}

/* стилизуем ссылки */
#nav_menu nav a {
    font-size:20px;
    display:block;
    color: floralwhite;
    padding:0 10px;
    border-radius: 5px;
    line-height: 60px;
    text-decoration:none;
}

#nav_menu nav ul ul a {
    border: 1px solid #2d2424;
}

/* изменяем цвет фона при наведении курсора */
#nav_menu nav a:hover {
    color: #e1c194;
    background-color: #3f3e39;
}

#nav_menu nav ul ul a:hover {
    color: #e1c194;
    background-color: #3f3e39;
}

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
#nav_menu nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
}

/* отображаем выпадающий список при наведении */
#nav_menu nav ul li:hover > ul {
    display:inline-block;
}

/* первый уровень выпадающего списка */
#nav_menu nav ul ul li {
    min-width:160px;
    float:none;
    display:list-item;
    position: relative;
}

/* второй, третий и последующие уровни
			 * смещаем 2 и 3 уровни влево
			 * на значение длины первого уровня.
			*/
#nav_menu nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}

/* измените ' +' на любой другой символ, если нужно
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }*/

/* End navigation */

/* Start footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 5em;
    background-color: darkgrey;
    text-align: left;
}
.footer div {
    margin: 0;
}
.footer_info h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.footer_info {
    padding-right: 2%;
}
.footer p{
    margin: 0 0 5px 0;
}
.footer address {
    font-style: normal;
    white-space: nowrap;
    justify-content: center;
}
.footer address p{
    text-shadow: 1px 2px rgba(128, 128, 128, 0.76);
}
.footer a {
    text-shadow: 1px 1px 3px black;
    color: rgb(255, 220, 165);
}

.social_buttons {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
}
.social_buttons .btn {
    display: flex;
    align-items: center;
    width: 7em;
    margin: 2%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.social_buttons > button img {
    padding: 7% 0;
    width: 100%;
}
.social_buttons > button {
    background: none;
    display: flex;
    overflow: hidden;
    background-color: rgba(224, 197, 160, 0.79);
}
.social_buttons > button:hover {
    transition: 0.3s;
    background-color: #d3af7a;
}
/* End footer */

/* Start content */
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.main {
    padding: 1em;
    background: whitesmoke;
    text-align: center;
}
.aside {
    padding: 1em;
    text-align: center;
    background: rgb(224, 220, 199);
}

@media (max-width: 30em) {
    .main {
        flex: 1 0 auto;
    }
}
@media (min-width: 30em) {
    .nav {
        display: block;
    }
    .wrapper {
        flex-direction: row;
    }
    .main {
        flex: 1 1 auto;
    }
    .aside {
        width: 20%;
    }
}
/* End content */


/* Start Burger menu */
.burger_menu nav {
    height: 50px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* fade in checked menu */
}
.burger_menu nav .m-menu__checkbox {
    display: none;
}
.burger_menu nav label.m-menu__toggle {
    cursor: pointer;
}
.burger_menu nav .m-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    width: calc(100vw - 30px);
    height: 100%;
    -moz-transform: translate3d(-450px, 0, 0);
    -o-transform: translate3d(-450px, 0, 0);
    -ms-transform: translate3d(-450px, 0, 0);
    -webkit-transform: translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
}
.burger_menu nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}
.burger_menu nav .m-menu__header {
    padding: 0 16px;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}
.burger_menu nav .m-menu__header span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.burger_menu nav .m-menu .m-menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
}
.burger_menu nav .m-menu ul {
    height: 100%;
    overflow-y: auto;
}
.burger_menu nav .m-menu ul li a, nav .m-menu ul li label {
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 47px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.burger_menu nav .m-menu ul li label.a-label__chevron::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-color: #333;
    border-style: solid;
    border-width: 1px 1px 0 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    right: 16px;
}
.burger_menu nav .m-menu ul li .-invisible {
    border-bottom: 0;
}
.burger_menu nav .m-menu .m-menu label.m-menu__toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.burger_menu nav .m-menu__checkbox:checked ~ .m-menu__overlay {
    display: block;
}
.burger_menu nav .m-menu__checkbox:checked ~ .m-menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* End Burger menu */

/* Start burger-menu */
@media (min-width: 981px) {
    .burger_div {
        visibility: hidden;
    }
}
@media (max-width: 980px) {
    #nav_buttons {
        display: none;
    }
    #nav_account {
        display: none;
    }
    .header_inner {
        margin-right: 0;
    }
    #shcart {
        margin-left: 20%;
    }
    .contacts {
        display: none;
    }
}
@media (max-width: 1030px) {
    .contacts {
        display: none;
    }
}
@media (max-width: 700px) {
    .contacts {
        display: none;
    }
    .social_buttons {
        display: none;
    }
}
.burger_div {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.burger_menu label svg {
    margin-top: 15px;
}
.burger_menu {
    background-color: darkgrey;
    height: 50px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* fade in checked menu */
}
.burger_menu .m-menu__checkbox {
    display: none;
}
.burger_menu label.m-menu__toggle {
    cursor: pointer;
}
.burger_menu .m-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    width: calc(100vw - 30px);
    height: 600px;
    -moz-transform: translate3d(-450px, 0, 0);
    -o-transform: translate3d(-450px, 0, 0);
    -ms-transform: translate3d(-450px, 0, 0);
    -webkit-transform: translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: hidden;
    background-color: #919191;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #000;
}
.burger_menu .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}
.burger_menu .m-menu__header {
    padding: 0 16px;
    height: 66px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    color: floralwhite;
    background-color: #737373;
}
.burger_menu .m-menu__header span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.burger_menu .m-menu .m-menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
}
.burger_menu .m-menu ul {
    height: 100%;
    overflow-y: auto;
}
.burger_menu .m-menu ul li a, nav .m-menu ul li label {
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 47px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.burger_menu .m-menu ul li label.a-label__chevron::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px 2px 0 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    right: 16px;
}
.burger_menu .m-menu ul li a:hover, nav .m-menu ul li>label:hover {
    color: #e1c194;
    background-color: #3f3e39;
    border-radius: 10px;
}
.burger_menu .m-menu ul li .-invisible {
    border-bottom: 0;
}
.burger_menu .m-menu .m-menu label.m-menu__toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.burger_menu .m-menu__checkbox:checked ~ .m-menu__overlay {
    display: block;
}
.burger_menu .m-menu__checkbox:checked ~ .m-menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.burger_menu .decorated-label {
    border-radius: 10px;
}
/* End burger-menu */