h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.main div {
    margin: 3em;
}

#login_data {
    border-radius: 40px;
    background-color: white;
    padding: 20px 70px;
}

.LogIn_btn {
    margin-left: 1em;
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.LogIn_btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.LogIn_btn:hover {
    background-color: #41c047; /* Green */
    color: white;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}
/* стили для input */
.text-field__input {
    display: block;
    width: 90%;
    height: calc(2rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
    }
    .main div {
        margin: 1em;
    }
    .main div img {
        margin-top: -8em;
        visibility: hidden;
    }
}