h3 {
    margin: 0 1em;
}

.block li {
    margin-bottom: 1em;
}

main > article > section > h1 {
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: #42b7ac;
}

.wrapper_guide {
    background-color: whitesmoke;
    position: relative;
    height: 100%;
}

/* Start aside menu*/
aside {
    color: floralwhite;
    border-radius: 20px;
    background: darkgrey;
    padding: 10px 20px 10px 10px;
    margin-top: 3em;
    margin-left: 2%;
    float: left;
    position: sticky;
    top: 100px;
}
aside > ul {
    list-style: square;
}
.menu_link {
    color: #ecd879;
    text-decoration: none;
    transition: color .1s linear;
}
.menu_link:hover {
    color: #ee9f5d;
}
.menu_link:active {
    color: #e7835a;
}
.menu_link:visited {
    color: #8fe062;
}
/* End aside menu*/

/* Start blocks dividing */
article > .block {
    border-radius: 40px;
    background-color: white;
    margin: 2em 3em 2em 22em;
    padding: 20px 70px;
}
ol .block {
    border-radius: 40px;
    background-color: white;
    margin: 2em 3em 2em 19.7em;
    padding: 20px 70px;
}
/* End blocks dividing */

img {
    width: 100%;
    max-width: 30em;
    border-radius: 10px;
}

.filter_pic {
    width: 50%;
    max-width: 15em;
}

.pic_container {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.too_small {
    width: 75%;
    max-width: 20em;
}

@media (max-width: 1120px) {
    aside {
        display: none;
    }
    article > .block {
        margin: 2em;
    }
    ol .block {
        margin-left: -0.3em;
        margin-right: 2em;
    }
}
@media (max-width: 700px) {
    article > .block {
        border-radius: 20px;
        margin: 0.2em 0.5em;
        padding: 10px 30px;
    }
    ol .block {
        border-radius: 20px;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        margin-left: -1.8em;
        margin-right: 0.5em;
        padding-left: 2.5em;
        padding-right: 1em;
    }
}