h2, h3, h4, h5, h6 {
    margin-top: 0;
}
main > article > h1 {
    text-align: center;
    font-size: 34px;
    color: #42b7ac;
}
main > article > section {
}
.wrapper_guide {
    background-color: whitesmoke;
    position: relative;
    height: 100%;
}

/* Start aside menu*/
aside {
    color: floralwhite;
    border-radius: 20px;
    background: darkgrey;
    padding: 10px 20px 10px 10px;
    margin-top: 3em;
    margin-left: 2em;
    float: left;
    position: sticky;
    top: 100px;
}
aside > ul {
    list-style: square;
}
.menu_link {
    color: #ecd879;
    text-decoration: none;
    transition: color .1s linear;
}
.menu_link:hover {
    color: #ee9f5d;
}
.menu_link:active {
    color: #e7835a;
}
.menu_link:visited {
    color: #8fe062;
}
/* End aside menu*/

/* Start blocks dividing */
.block {
    border-radius: 40px;
    background-color: white;
    margin: 30px 20% 30px 23%;
    padding: 20px 70px;
}
/* End blocks dividing */

