.container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    margin: 0 6%;
}

.filters {
    display: flex;
    flex-direction: column;

    border-right: 1px solid black;
    padding: 1%;
    padding-right: 3%;
}

.filter {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: start;
    margin-top: 1em;
}

.text-field__input {
    display: block;
    width: 80%;
    height: 2rem;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#cost_form > p {
    margin: 2% 0;
}

.filter form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(38, 37, 37, 0.47);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: goldenrod;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: lemonchiffon;
    border-color: lemonchiffon;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(253, 199, 96, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: lemonchiffon;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
    border-color: gold;
    background-color: goldenrod;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: rgba(100, 96, 90, 0.27);
}
.custom-checkbox:disabled ~ label {
    color: rgba(128, 128, 128, 0.58);
}




.products {
    grid-area: products;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 0.7em;
}
.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #bdbdbd;
    margin: 1%;
}
.product_card > h3 {
    padding: 0 2%;
}
.img_container {
    width: 94%;
    padding: 1% 1%;
    margin: 2%;
    min-height: 300px;

    display: flex;
    border-radius: 2%;
    background-color: white;
    align-items: center;
}
.img_container > img {
    width: 100%;
}


.card_description {
    padding: 1% 15%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: flex-start;
}
.card_description > p {
    margin: 1%;
    text-align: start;
}
.card_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}
.card_button, .cost_label {
    width: 100%;
    margin: 2px;
    font-weight: bold;
}
.card_button {
    transition: 0.2s;
    font-size: 25px;
    font-weight: bold;
    background-color: gold;
    border-radius: 8px;
}
.card_button:hover {
    transition: 0.2s;
    background-color: #d5b400;
}
.cost_label {
    font-size: 38px;
    font-weight: bold;
}

@media (max-width: 1710px) {
    .container {
        margin: 0 3%;
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1280px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 920px) {
    .products {
        grid-template-columns: 1fr;
    }
}

#no_prods {
    padding: 5%;
    display: none;
}
.hidden {
    display: none !important;
}